body {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 56rem;
    margin-inline: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

ul {
    list-style: none;
    font-family: monospace;
}

#combat-log {
    display: flex;
    flex-direction: column-reverse;

    time {
        color: gray;
        font-weight: 400;
    }

    .player {
        color: green;
        font-weight: 700;
    }
    .enemy {
        color: red;
    }
    .status {
        color: blue;
    }
}

.low-hp {
    color: red;
    font-weight: bold;
}

